
<nav>
  <div *ngIf="!authService.loggedIn; else LoggedIn">
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="login">Login</a></li>
    <!-- Add more menu items as needed -->
  </ul>
  </div>
  <ng-template #LoggedIn>
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="issuebooks">Issuebooks</a></li>
      <li><a routerLink="listbooks">Listbooks</a></li>
      <li><input type="button" (click)="signout()" value="Signout"></li>
      <!-- Add more menu items as needed -->
    </ul>
  </ng-template>
</nav>

<router-outlet></router-outlet>