<p>new1 works!</p>
FirstName:<input type="text" name="t1"[(ngModel)]="Name"><br><br>
A:<input type="text" name="t1"[(ngModel)]="a"><br><br>
B:<input type="text" name="t1"[(ngModel)]="b"><br><br>
<input type="button" (click)="add()" value="add">
value={{c}}
<br>
<br>

<table border="1">
    <tr><th>cityname</th></tr>
    <tr *ngFor="let i of cities">
        <td>{{i}}</td>
    </tr>


</table>

<ng-template [ngIf]="a>b" [ngIfElse]="maxBlock">
    {{a}} is maximum

</ng-template>
<ng-template #maxBlock>
    {{b}} is maximum

</ng-template>

