<h1>hello,{{title}}</h1>
<style>
    table
    {
        border: 10;
        border-style:solid;
        margin:auto;
        border-collapse: collapse;
        font-size: 20px;
        height: 50%;
        width: 100%;
    }
    
    th,td
    {border:10;
        border-style: solid;
    }
</style>
<table>
<tr>
    <td>name</td>
    <td>roll_no</td>
    <td>branch</td>

</tr>
<tr>
    <td>neel</td>
    <td>130</td>
    <td>cs(ai)</td>
</tr>
<tr>
    <td>nandan</td>
    <td>128</td>
    <td>cs(ai)</td>
</tr>
<tr>
    <td>sushant</td>
    <td>127</td>
    <td>cs(ai)</td>
</tr>
</table>
<br><br>
value of a is {{a}}
<br><br>
value of b is {{b}}

<br><br>
<input type="button" (click)="add()" value="Add">
<br><br>
value of c is {{c}}
